<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SKLEP</title>
</head>
<body style="background:#72A4A6">
<h1 style="text-align:center; background-color:#82F6F5; color:red; border:3px solid blue">MÓJ SKLEP</h1>
<div style="text-align:right; color:red;" class="baza" id="baza">
    <a href="#" target="_blank" class="link" style="color:aqua">Rejestracja</a>
    <a href="#" target="_blank" class="link" style="color:aqua">Loguj</a>
    <a href="#" target="_blank" class="link" style="color:aqua">Koszyk</a>

</div>
{% block content %} {% endblock %}

</body>
</html>