<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select update kategoria</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2 style="color:red">Wybór kategorii</h2>
        <form method="post">
            {% csrf_token %}
            <table> {{ form }} </table>
            <input type="submit" value="Wybierz" class="wybierz">
            <input type="button" value="Anuluj" class="anuluj" onclick="window.location.href='/kategoria/'" >
        </form>
    {% endblock %}

</body>
</html>