<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create kategoria</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2>Utwórz nową kategorię:</h2>
    <form method="post">
        {% csrf_token %}
        <table> {{ form }} </table>
        <input type="submit" value="Dodaj" class="dodaj">
        <input type="submit" value="Anuuj" class="dodaj" onclick="window.location.href='/kategoria/'">
    </form>
    {% endblock %}

</body>
</html>